@font-face {
font-family: 'Star Jedi Outline Regular';
font-style: normal;
font-weight: normal;
src: local('Star Jedi Outline Regular'), url('Starjout.woff') format('woff');
}

h1 {
  font-family: 'Star Jedi Outline Regular';
  font-weight: 400;
  color: rgba(0,0,0,0.3);
}

h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
